@import "reset.css";



#usersTable{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.table{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-header{
    display: block;
    border-collapse: collapse;
    width: 100%;
    background: #019879;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
}